on:
  push:
    branches:
      - master
  pull_request:

name: CI
jobs:
  build_and_test:
    name: OS Test
    strategy:
      matrix:
        rust-version:
          - nightly
          - "1.48"
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust-version }}
          default: true
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
  wasm:
    name: WASM Test Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          default: true
      - name: Install Cargo WASI
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-wasi
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: wasi
          args: build --features nightly
