name: FreeBSD CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  freebsd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run FreeBSD VM
        uses: vmactions/freebsd-vm@v1
        with:
          usesh: true
          prepare: |
            pkg install -y curl git
            pkg install -y rust
            cargo build
            cargo test
